In [1]:
import pandas as pd
import numpy

In [2]:
csv_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(csv_url)
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [3]:
stud_alcoh = df.loc[:, "school":"guardian"]
print("\nStep 4 - Sliced Data:")
print(stud_alcoh.head())

Step 4 - Sliced Data:
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher
1     GP   F   17       U     GT3       T     1     1  at_home     other
2     GP   F   15       U     LE3       T     1     1  at_home     other
3     GP   F   15       U     GT3       T     4     2   health  services
4     GP   F   16       U     GT3       T     3     3    other     other

   reason guardian
0  course   mother
1  course   father
2   other   mother
3    home   mother
4    home   father

In [4]:
capitalizer = lambda x: x.capitalize()

In [5]:
stud_alcoh['Mjob'] = stud_alcoh['Mjob'].apply(capitalizer)
stud_alcoh['Fjob'] = stud_alcoh['Fjob'].apply(capitalizer)

In [6]:
print("\nStep 7 - Last 5 rows after capitalization:")
print(stud_alcoh.tail())

Step 7 - Last 5 rows after capitalization:
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

In [7]:
def majority(x):
    return x > 17

In [8]:

stud_alcoh['legal_drinker'] = stud_alcoh['age'].apply(majority)
print("\nStep 9 - With 'legal_drinker' column added:")
print(stud_alcoh.head())

Step 9 - With 'legal_drinker' column added:
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  At_home   Teacher
1     GP   F   17       U     GT3       T     1     1  At_home     Other
2     GP   F   15       U     LE3       T     1     1  At_home     Other
3     GP   F   15       U     GT3       T     4     2   Health  Services
4     GP   F   16       U     GT3       T     3     3    Other     Other

   reason guardian  legal_drinker
0  course   mother           True
1  course   father          False
2   other   mother          False
3    home   mother          False
4    home   father          False

In [9]:
def times10(x):
    if isinstance(x, int):
        return x * 10
    return x

In [10]:
multiplied_df = stud_alcoh.applymap(times10)
print("\nStep 10 - Dataset with numeric values multiplied by 10:")
print(multiplied_df.head(10))

Step 10 - Dataset with numeric values multiplied by 10:
  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F  180       U     GT3       A    40    40   At_home   Teacher
1     GP   F  170       U     GT3       T    10    10   At_home     Other
2     GP   F  150       U     LE3       T    10    10   At_home     Other
3     GP   F  150       U     GT3       T    40    20    Health  Services
4     GP   F  160       U     GT3       T    30    30     Other     Other
5     GP   M  160       U     LE3       T    40    30  Services     Other
6     GP   M  160       U     LE3       T    20    20     Other     Other
7     GP   F  170       U     GT3       A    40    40     Other   Teacher
8     GP   M  150       U     LE3       A    30    20  Services     Other
9     GP   M  150       U     GT3       T    30    40     Other     Other

       reason guardian  legal_drinker
0      course   mother             10
1      course   father              0
2       other   mother              0
3        home   mother              0
4        home   father              0
5  reputation   mother              0
6        home   mother              0
7        home   mother              0
8        home   mother              0
9        home   mother              0

C:\Users\balas\AppData\Local\Temp\ipykernel_22620\3403743851.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  multiplied_df = stud_alcoh.applymap(times10)